@{
    ViewData["Title"] = "Logg inn";
}
<div class="column">
    <h2>Logg inn</h2>
    <form class="loginform" method="POST" action="@Url.Action("Create", "Reservasjons")">
        @Html.AntiForgeryToken()
        <fieldset class="loginfieldset">
            <label for="email">E-post</label>
            <input type="text" id="email" name="email"
                   minlength="5" maxlength="255"
                   pattern="^[a-zA-Z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required
                   oninvalid="this.setCustomValidity('Ikke riktig e-post eller passord')"
                   oninput="this.setCustomValidity('')">
            <label for="password">Passord</label>
            <input type="password" id="password" name="password"
                   minlength="8" maxlength="255" required
                   oninvalid="this.setCustomValidity('Ikke riktig e-post eller passord')"
                   oninput="this.setCustomValidity('')">
            <input type="submit" value="Logg inn" class="btn btn-primary" />
        </fieldset>
    </form>
    <p>Ny bruker? <a href="@Url.Action("Create", "Guests")">Opprett bruker</a></p>
</div>
