@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h2>Strengteller</h2>

<ul>

    @for (int i = 0; i < (int)ViewData["Count"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }

</ul>